name: Unit Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# cancel in-progress runs on new commits to same PR (gitub.event.number)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  unit-test:
    uses: sxzz/workflows/.github/workflows/unit-test.yml@v1
